body{
    background-color: blueviolet;
}

.bold_style{
    font-weight: bold;
}

.to_center{
    text-align: center;
}

.padding10{
    padding: 10px;
}

.backgroundColor1{
    background-color: #e22bdf;
}

.backgroundColor2{
    background-color: #2e2be2;
}

.border_bottom{
    border-bottom: 5px;
    border-color: black;
}

.border_top{
    border-top: 5px;
    border-color: black;
}

#loginButton{
    padding: 10px;
    font-style: italic;
    color: black;
}

#loginButton:hover{
    font-weight: bold;
    font-style: normal;
}