body{
    background-color: #eaf0ce;
}

.header_footer_color{
    /*background-color: #c0c5c1;*/
    background-color: #eaf0ce;
    opacity: 0.7;
    
}

.content_color{
   /* background-color: #7d8491;
    opacity: 0.7;*/
    background-color: #eaf0ce;
    opacity: 0.9;
}

.text_color1{
    color: #574b60;
	text-shadow: 6px 6px 10px #3f334d;
}

.text_color2{
	color: #574b60;
	text-shadow: 2px 2px 4px #3f334d;
}

.color5{
    background-color: #3f334d;
}

.a{
    padding: 10px;
    font-style: italic;
    color: black;
}

.a:hover{
    font-weight: bold;
    font-style: normal;
}

.bold_style{
    font-weight: bold;
}

.to_center{
    text-align: center;
}
/*paddingok helyett margin-t akartam volna, lehet fölöslegesek*/
.padding10{
    padding: 10px;
}

.padding_top10{
    padding-top: 10px;
}

.padding_top30{
    padding-top: 30px;
}

.padding_top5{
    padding-top: 5px;
}

.padding_bottom5{
    padding-bottom: 5px;
}

.backgroundColor1{
    background-color: #e22bdf;
}

.backgroundColor2{
    background-color: #2e2be2;
}

/*nem működnek*/
.border_bottom{
    border-bottom: 5px;
    border-color: black;
    border-style: solid;
}

.border_top{
    border-top: 5px;
    border-color: black;
    border-style: solid;
    border: 5px solid black;
}

.inactiveButton{
    padding: 10px;
    font-style: italic;
    color: black;
    text-decoration: none;
}

.inactiveButton:hover{
    font-weight: bold;
    font-style: normal;
    color: black;
    text-decoration: none;
}

.orangered_text{
    color: orangered;
}

.btn-primary{
    border-color: #3f334d !important;
}